@page "/addfaculty"
@using linqQueries.Data;
@using linqQueries.Model;
@inject AppDbContext _db
<h3>AddFaculty</h3>

<EditForm Model="@faculty" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="name">Name:</label>
    <InputText id="name" @bind-Value="faculty.fname" class="form-control" />
    <br />
    <label for="standing">Standing:</label>
    <InputText id="standing" @bind-Value="faculty.standing" class="form-control" />
    <br />
    <label for="depid">DepId:</label>
    <InputSelect @bind-Value="faculty.depid" class="form-control">
        <option value="">Select...</option>
        @foreach (var item in _db.departs.ToList())
        {
            <option value="@item.depid">@item.dName</option>
        }
    </InputSelect>
    <br />
    <button type="submit">Save</button>
</EditForm>

<table>
    <tbody>
        @foreach (var currentFaculty in Faculties)
        {
            <tr>
                <td>@currentFaculty.fid</td>
                <td>@currentFaculty.fname</td>
                <td>@currentFaculty.standing</td>
                <td>@currentFaculty.depid</td>
                <td><button @onclick="() => EditFaculty(currentFaculty)">Edit</button></td>
                <td><button @onclick="() => DeleteFaculty(currentFaculty)">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    Faculty faculty = new Faculty();
    List<Faculty> Faculties = new List<Faculty>();

    protected override void OnInitialized()
    {
        LoadFaculties();
    }

    void LoadFaculties()
    {
        Faculties = _db.Faculties.ToList();
    }

    void HandleSubmit()
    {
        if (faculty.fid == 0)
        {
            _db.Add(faculty);
        }
        else
        {
            _db.Update(faculty);
        }

        _db.SaveChanges();
        faculty = new Faculty(); // Clear the form after submission
        LoadFaculties(); // Reload users after submission
    }

    void EditFaculty(Faculty currentFaculty)
    {
        faculty = currentFaculty;
    }

    void DeleteFaculty(Faculty currentFaculty)
    {
        _db.Remove(currentFaculty);
        _db.SaveChanges();
        LoadFaculties(); // Reload users after deletion
    }
}
